.bagC{
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 12px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: -5px;
  margin-top: 20px;
  /* padding-top: 3px; */
}
.count {
  font-size: 14px;
  color: #615f5f;
  margin: 0%;
  padding: 0%;
}
.countPlace1{
  top: 15px;
  left: 92.5%;
}
.countPlace2{
  top: 15px;
  left: 95.5%;
}
.part{
  width: 110%;
  margin-top: 10px;
}
#container{
  width: 95%;
  display: block;
  margin: auto;
}
.vertical{
  height: 1900px;
  width: 0%;
  position: absolute;
  left: 50%;
  top: 530px;
}
#top{ 
  height: 250px;
  margin-bottom: 160px;
}

#second{
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 25px;
  gap: 20px;
}
#second img{
  height: 400px;
  width: 594px;
}
#third{
  /* border: 2px solid red; */
  height: 550px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-bottom: 40px;
}
#abovefooter{
  margin-bottom: -40px;
}
.rotate{
    transform: rotate(270deg);
    position: fixed;
    left: -52px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    margin-left: 0px;
    top: 48vh;
    background-color: #333333;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* border-top-right-radius: 15px; */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}


* {
    margin: 0px;
    padding: 0px;
}
.wrapper {
  width: 94%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header > div {
  width: 33.2%;
}
.logo {
  display: block;
  margin: auto;
  margin-top: 18px;
  height: 24px;
  width: auto;
}
#goto {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 30px;
}
#goto > a {
  font-size: 14px;
}
.icon {
  width: 25px;
  height: 25px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  margin-bottom: 0ch;
  margin-top: 0px;
  padding-top: 0px;
}
.bag {
  font-size: 12px;
  text-align: right;
  margin-top: 0ch;
  margin-right: 10px;
}
.icons {
  display: flex;
  justify-content: right;
  margin-right: 0px;
  padding-right: 0px;
  align-items: center;
  margin-top: -15px;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Media Queries */
@media all and (min-width:80px) and (max-width:600px)
{
  .logo {
    margin-top: 18px;
    height: 14px;
    width: auto;
  }
  #goto > a {
    font-size: 7px;
  }
  .vertical{
    height: 00px;
    width: 0%;
  }
  #top{ 
    height: 250px;
    margin-bottom: 160px;
  }
  
  #second{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 0px;
    width: 60%;
    gap: 15px;
  }
  #second img{
    height: 400px;
    width: 594px;
  }
  #third{
    /* border: 2px solid red; */
    height: 550px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    margin-bottom: 40px;
  }
  #abovefooter{
    margin-bottom: -25px;
  }
  
  #footer{
    width: 70%;
    background-color: #f3f3f3;
    color: #444342;
    display: flex;
    justify-content: space-around;
    margin-top: 600px;
}
#footer > div{
    justify-content: space-between;
    width: 3%;
    height: 500px;
}
.tophead{
    /* color: #453a2d; */
    color: black;
    text-align: left;
    margin-left: 10px;
    font-weight: 200;
    font-size: 2px;
}
.topheadcontact{
    background-color: #f3f3f3;
    margin-right: 5px;
    font-weight: 800;
    font-size: 7px;
    color: black;
    width: 10%;
    margin-right: -50px;
}
.topContact{
  font-size: 2px;
}
li{
    text-align: right;
    font-size: 3px;
}
span{
    font-size: 1px;
}
.social i{
    margin-right: 2px;
    font-size: 1px;
}
.social{
    width: 15%;
    margin-left: 2px;
}
.socialApp{
  width: 25%;
}
#lastline{
    margin-top: 5px;
    font-size: 4px;
    text-align: center;
}
}
/* #footer{
  width: 95%;
  background-color: #f3f3f3;
  color: #444342;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
#footer > div{
  justify-content: space-between;
  width: 16%;
  
}
.tophead{
  color: black;
  text-align: left;
  margin-left: 40px;
  font-weight: 900;
  font-size: 12px;
}
li{
  text-align: left;
  font-size: 12px;
}
span{
  font-size: 12px;
}
#bottomline{
  color: #c9c9c9;
}
.social i{
  margin-right: 10px;
  font-size: 15px;
}
.social{
  height: 70px;
  width: 65%;
}
#lastline{
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
} */