body {
    font-family: 'Poppins';
}

.mainlogo {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 0px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    
}

img {
    width: auto;
    height: 100%;
    margin: auto;
    /* margin-top: 5px; */
}

.cartSection, .empty{
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
    margin-top: 15px;
}

i {
    font-size: 30px;
}

.wish {
    margin-top: 10px;
}

.wish > p {
    font-size: 11px;
    margin-top: -5px;

}

.navbar {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    /* background-color: aqua;     */
}

a {
    text-decoration: none;
    display: block;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    color:black;
}

/* OTP_Box */

.congratsBox {
    width: 50%;
    height: auto;
    margin: 50px auto;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    padding: 50px;
}

.congratsBox > h1 {
    overflow-x:hidden;
}

.congratsBox > a {
    all: revert;
    color: black;
}

/* footer */


#footer{
    width: 95%;
    background-color: #f3f3f3;
    color: #444342;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#footer > div{
    justify-content: space-between;
    width: 16%;
    
}
.tophead{
    /* color: #453a2d; */
    color: black;
    text-align: left;
    margin-left: 40px;
    font-weight: 900;
    font-size: 12px;
}
li{
    text-align: left;
    font-size: 12px;
}
span{
    font-size: 12px;
}
#bottomline{
    color: #c9c9c9;
}
.social i{
    margin-right: 10px;
    font-size: 15px;
}
.social{
    width: 80%;
    height: auto;
    margin-left: 5px;
}
#lastline{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.pe-7s-mail {
    width: auto;
    height: auto;
}