body {
    font-family: 'Poppins';
}


.rotate{
    transform: rotate(270deg);
    position: fixed;
    right: 1230px;
    width: 12%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    margin-left: -383px;
    top: 48vh;
 
    background-color: #333333;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* border-top-right-radius: 15px; */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}


.mainlogo {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 0px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    
}
.bag {
    margin-top: 10px;
    margin-left: -10px;
    position: relative;
}

.bag > a {
    font-size: 11px;
    color: black;
    /* margin-top: -5px; */
}

.bag > a > p {
    margin-top: -5px;
}
.bagC{
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 12px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: -25px;
    margin-top: 0px;
    /* padding-top: 3px; */
}
.count {
    font-size: 14px;
    color: #615f5f;
    margin: 0%;
    padding: 0%;
}
.countPlace1{
    top: 15px;
    left: 92.5%;
}
.countPlace2{
    top: 15px;
    left: 95.5%;
}

#titlePartition{
    margin-top: -20px;
}
.baghead{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

#parentdiv{
    display: flex;
    justify-content: space-between;
}
#parentdiv .products{
    margin-top: 40px;
}
.categ{
    height: 1px;
    width: 1000%;
   margin-left: -960px ;
   margin-top: 30px;
}
#cartleft{
    /* border: 1px solid red; */
    height: auto;
    margin-left:95px ;
    box-sizing: border-box;
    overflow: hidden;
    width: 40%;
    margin-top: -50px;
}
#cartright{
    width: 40%;
    /* border: 1px solid blue; */
    height: 600px;
    margin-top: 15px;
    box-sizing: border-box;
}
.priceside{
    font-weight: bold;
}
.interest{
    font-size: 12px;
    color: #777777;
}
.taxfree{
    color: #777777;
}
#sezzle{
    width: 70px;
}
.est{
    display: grid;
}
#right{
    float: right;
    margin-top: -50px;
    margin-right: 50px;
}
#checkoutbtn{
    background-color: black;
    color: white;
    padding: 12px 100px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
#estbtn{
    background-color: black;
    color: white;
    padding: 12px 100px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
.products{
    /* margin-right: 20px; */
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 15%;
    margin-left: 5px;
}
.baghead{
    margin-top: -25px;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 600px;
}

#estimatebox{
    border: 1px solid rgb(173, 173, 173);
    height: 170px;
    width: 100%;
}
#head{
    margin-left: 50px;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* footer styles */

#footer{
    width: 95%;
    background-color: #f3f3f3;
    color: #444342;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#footer > div{
    justify-content: space-between;
    width: 16%;
    
}
.tophead{
    /* color: #453a2d; */
    color: black;
    text-align: left;
    margin-left: 40px;
    font-weight: 900;
    font-size: 12px;
}
li{
    text-align: left;
    font-size: 12px;
}
span{
    font-size: 12px;
}
#bottomline{
    color: #c9c9c9;
}
.social i{
    margin-right: 10px;
    font-size: 15px;
}
.social{
    height: 70px;
    width: 65%;
}
#lastline{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

/* Media Queries */
/* Medium Screens */
@media all and (min-width:420px) and (max-width:720px)
{
    #cartleft{
        /* border: 1px solid red; */
        height: auto;
        margin-left:40px ;
        box-sizing: border-box;
        overflow: hidden;
        width: 35%;
        margin-top: -50px;
    }
    .products{
        /* margin-right: 20px; */
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 15%;
    }
    #cartright{
        width: 15%;
        /* border: 1px solid blue; */
        height: 450px;
        margin-top: 15px;
        box-sizing: border-box;
    }
    #checkoutbtn{
        padding: 7px 45px;
        font-size: 12px;
    }
    #estimatebox{
        height: auto;
        width: 65%;
    }
    #head{
        margin-left: 20px;
        width: 35%;
        font-size: 9px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .baghead{
        margin-top: -25px;
        background-color: white;
        display: inline-block;
        text-align: center;
        margin-left: 500px;
        font-size: 15px;
    }
    #estimatebox{
        border: 1px solid rgb(173, 173, 173);
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #estbtn{
        background-color: black;
        color: white;
        padding: 6px 30px;
        width: 50%;
        font-size: 5px;
    }
    select, input{
        width: 50%;
        font-size: 10px;  
    }
    

    #footer{
        width: 100%;
        background-color: #f3f3f3;
        color: #444342;
        display: flex;
        justify-content: space-evenly;

    }
    #footer > div{
        justify-content: space-evenly;
        width: 10%;
    }
    .tophead{
        /* color: #453a2d; */
        color: black;
        text-align: left;
        margin-left: 20px;
        font-weight: 400;
        font-size: 4px;
    }
    .topheadcontact{
        background-color: #f3f3f3;
        margin-right: 5px;
        font-weight: 800;
        font-size: 10px;
        color: black;
        width: 12%;
        margin-right: -50px;
    }
    li{
        text-align: right;
        font-size: 4px;
    }
    span{
        font-size: 4px;
    }
    .social i{
        margin-right: 4px;
        font-size: 4px;
    }
    .social{
        width: 40%;
        margin-left: 5px;
    }
    #lastline{
        margin-top: 8px;
        font-size: 7px;
        text-align: center;
    }
    .topContact{
        font-size: 6px;
    }
    
    .socialApp{
        width: 45%;
      }
}

/* Small Screens */
@media all and (min-width:80px) and (max-width:419px)
{
    
    #cartleft{
        /* border: 1px solid red; */
        height: auto;
        margin-left:25px ;
        box-sizing: border-box;
        overflow: hidden;
        width: 20%;
        margin-top: -45px;
    }
    .products{
        /* margin-right: 20px; */
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 10%;
    }
    #cartright{
        width: 15%;
        /* border: 1px solid blue; */
        height: 300px;
        margin-top: 10px;
        box-sizing: border-box;
    }
    #checkoutbtn{
        padding: 3px 20px;
        font-size: 6px;
    }
    #estimatebox{
        height: auto;
        width: 100%;
    }
    #head{
        margin-left: 25px;
        width: 35%;
        font-size: 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    select, input{
        width: 40%;
        font-size: 8px;
        
    }
    .baghead{
        margin-top: -25px;
        background-color: white;
        display: inline-block;
        text-align: left;
        font-size: 5px;
    }
    #estimatebox{
        border: 1px solid rgb(173, 173, 173);
        height: auto;
        width: 40%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #estbtn{
        background-color: black;
        color: white;
        padding: 6px 30px;
        width: 50%;
        font-size: 3px;
    }
    
    #footer{
        width: 70%;
        background-color: #f3f3f3;
        color: #444342;
        display: flex;
        justify-content: space-around;

    }
    #footer > div{
        justify-content: space-between;
        width: 3%;
        height: 500px;
    }
    .tophead{
        /* color: #453a2d; */
        color: black;
        text-align: left;
        margin-left: 10px;
        font-weight: 200;
        font-size: 2px;
    }
    .topheadcontact{
        background-color: #f3f3f3;
        margin-right: 5px;
        font-weight: 800;
        font-size: 7px;
        color: black;
        width: 10%;
        margin-right: -50px;
    }
    li{
        text-align: right;
        font-size: 3px;
    }
    span{
        font-size: 1px;
    }
    .social i{
        margin-right: 2px;
        font-size: 1px;
    }
    .social{
        width: 15%;
        margin-left: 2px;
    }
    #lastline{
        margin-top: 5px;
        font-size: 4px;
        text-align: center;
    }
    .topContact{
        font-size: 2px;
    }
    .socialApp{
        width: 25%;
      }
}
