body{
    /* font-family: Poppins; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* title image */
#name{
    display: block;
    margin: auto;
    margin-top: 15px;
}

/* styles for navbar */
#links {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 30px;
    }

#links > div {
    display: flex;
    list-style: none;
}
#links a {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}

/* content styles */
#container{
    width: 95%;
    display: block;
    margin: auto;
}

#top{ 
    height: 400px;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 40px;
}
#top img{
    width: 100%;
}

#second{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(8, 420px);
    gap: 20px;
    /* overflow:hidden; */
}
#second img{
    height: 400px;
    width: 625px;
    overflow:hidden;
}
#second .look{
    height: 600px;
}

hr {
    width: 110%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .vertical{
      height: 1920px;
      width: 0%;
      position: absolute;
      left: 50%;
      top: 587px;
  }


  /* footer styles */

#footer{
    width: 95%;
    background-color: #f3f3f3;
    color: #444342;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#footer > div{
    justify-content: space-between;
    width: 16%;
    
}
.tophead{
    /* color: #453a2d; */
    color: black;
    text-align: left;
    margin-left: 40px;
    font-weight: 900;
    font-size: 12px;
}
li{
    text-align: left;
    font-size: 12px;
    line-height: 20px;
}
span{
    font-size: 12px;
}
#bottomline{
    color: #c9c9c9;
    /* margin-top: -1520px; */
}
.social i{
    margin-right: 10px;
    font-size: 15px;
}
.social{
    width: 80%;
    margin-left: 5px;
}
#lastline{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}