<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koovs - Best Fashion Store In India</title>
    <link rel="shortcut icon" type="image/png" href="//cdn.shopify.com/s/files/1/0584/9399/3141/files/favicon-32x32_32x.png?v=1627207424">
    <link rel="stylesheet" href="/styles/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="path/to/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="http://www.pixeden.com/icon-fonts/stroke-7-icon-font-set">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
</head>
<script
      src="https://kit.fontawesome.com/24c494a6b6.js"
      crossorigin="anonymous"
    ></script>

<body>
    <div class="mainlogo">
        <div class="empty"></div>
        <a href='/layouts/index.html'><img alt="titlelogo" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/logo_240x.png?v=1627043663"/></a>
        <div class="cartSection">
            <span><i class="pegk pe-7s-search"></i></span>
            <span><a href="/layouts/accountSignin.html"><i class="pegk pe-7s-user"></i></a></span>
            <div class="bag">
                <a href=#>    
                    <span><i class="pegk pe-7s-like pr icon"></i></span>
                    <p class="bag">wishlist</p>
                    <div class="bagC countPlace1">0</div>
                </a>
            </div>
            <div class="bag">
                <a href="/bag.html">
                    <span><i class="pegk pe-7s-shopbag pr icon"></i></span>
                    <p class="bag">BAG</p>
                    <div class="bagC countPlace2">0</div>
                </a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <a href="/layouts/mens.html">MEN</a>
        <a href="women.html">WOMEN</a>
        <a>THE BLOG</a>
        <a>KOOVSXYOU</a>
        <a href="/layouts/inStyleOf.html">IN STYLE OF</a>
    </div>

    <h2 class="rotate">&#11088 Reviews</h2>

    <div class="shop1">
        <a href="/layouts/shoppingPage.html"><img id="shop" alt="slideImage" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/UB_1_f74b4a10-578b-496e-a67d-437f4701fa4f_2700x.jpg?v=1648011375"/></a>
    </div>
    <div class="shop2">
        <img alt="off70%" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/Strip_banner_._2700x.jpg?v=1648011647"/>
    </div>
    <div class="shopGrid">
        <img alt="img1" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/UW_1_30b7b6da-df36-413e-b261-a5df2176f924_1296x.jpg?v=1648011683"/>
        <img alt="img2" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/UW_2_0392536c-acda-4e31-9c86-8318e58db9b6_1296x.jpg?v=1648011749"/>
        <img alt="img3" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/UW_3_9f2642fd-70c0-473d-afd3-eb8bbaa70d3b_1296x.jpg?v=1648011781"/>
        <img alt="img4" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/uw_4_1e843517-a9f9-4f0b-879b-9adae3dd41e5_1296x.jpg?v=1648011824"/>
        <img alt="img5" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/UW_5_149fefca-edc1-438d-9dac-7e9239284a3d_1296x.jpg?v=1648011873"/>
        <img alt="img6" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/UW_6_4c43de0b-08ee-4fe4-b2ff-08f14e3dff54_1296x.jpg?v=1648011918"/>
    </div>
    <div class="shop3">
        <img alt="save20" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/Offer_Banner_._2700x.jpg?v=1648011941"/>
    </div>
    <div class="shopGrid2">
        <img alt="img1" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-denim-3aWTJy_540x.jpg?v=1627123501"/>
        <img alt="img2" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-ww-DRESS-91xPI0_540x.jpg?v=1627123528"/>
        <img alt="img3" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-web-foot-Rg43A8_540x.jpg?v=1627123558"/>
        <img alt="img4" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-ww-top-dIcABS_540x.jpg?v=1627123578"/>
        <img alt="img5" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-JACKET-WWarpu_540x.jpg?v=1627123598"/>
        
    </div>
    <div class="shop4">
        <img alt="flashSale" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/WEB_VIDEO_THUMBNAIL_354fbcb6-7f2b-4e64-9667-e673ce4a4ae5_2700x.jpg?v=1634033920"/>
    </div>
    <h2>THE BLOG</h2>
    <div class="shopGrid3">
        <div>
            <img class="gif" alt="1" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/products/A07A1387_360x.jpg?v=1640347833"/>
            <h4>RUFFLE HEM 5 WAYS</h4>
            <p>READ MORE</p>
        </div>
        <div>
            <img class="gif" alt="2" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/products/A07A0865_360x.jpg?v=1640347832"/>
            <h4>COUTURE STREET STYLE</h4>
            <p>READ MORE</p>
        </div>
        <div>
            <img class="gif" alt="3" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/products/A07A0766_360x.jpg?v=1640347831"/>
            <h4>SUMMER SHACKETS</h4>
            <p>READ MORE</p>
        </div>
        <div>
            <img class="gif" alt="4" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/products/A07A0724_360x.jpg?v=1640347831"/>
            <h4>TRENDING: THE TEA DRESS</h4>
            <p>READ MORE</p>
        </div>
        
        </div>
    </div>

    <div id="footer">
        <div>
            <p class="tophead">TOP CATEGORIES</p>
            <ul type="none">
                <li>Dresses for Girls</li>
                <li>Maxi Dresses</li>
                <li>Tops for Girls</li>
                <li>Women Jumpsuits</li>
                <li>Dungarees Dress</li>
                <li>Innerwear for Men</li>
                <li>Leggings</li>
                <li>Ladies Bags</li>
                <li>Women Shoes</li>
                <li>Trousers & Chinos</li>
                <li>Men Bags</li>
            </ul>
        </div>
        <div>
            <p class="tophead">CATEGORIES</p>
            <ul type="none">
                <li>Hoodies & Sweatshirts</li>
                <li>Jog Pants</li>
                <li>Vests</li>
                <li>Polo Shirts</li>
                <li>T Shirts</li>
                <li>Shoes for Men</li>
                <li>Ripped Jeans</li>
                <li>Jeans for Girls</li>
                <li>Denim shirts</li>
                <li>Sling Bags</li>
            </ul>
        </div>
        <div>
            <p class="tophead">TOP BRANDS</p>
            <ul type="none">
                <li>Nike</li>
                <li>New Look</li>
                <li>Only</li>
                <li>Vero Moda</li>
                <li>Femella</li>
                <li>Ax Paris</li>
                <li>Cover Story</li>
                <li>Catwalk88</li>
                <li>Being Human</li>
                <li>Levis</li>
            </ul>
        </div>
        <div>
            <p class="tophead">BRANDS</p>
            <ul type="none">
                <li>Adidas Neo</li>
                <li>Jack & Jones</li>
                <li>Spring Break</li>
                <li>Flying Machine</li>
                <li>Adidas Originals</li>
                <li>Koovs</li>
                <li>Adidas Shoes</li>
                <li>Blue Saint</li>
                <li>Koovs Coupons & Offers</li>
            </ul>
        </div>
        <div>
            <p class="tophead">NEED HELP</p>
            <ul type="none">
                <li>Contact Us</li>
                <li>Return Policy</li>
                <li>Shipping Information</li>
                <li>FAQs</li>
                <li>Terms and Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div>
            <p class="tophead">CONTACT US</p>
            ✉ care@2retail.in</span>
            <p>
                <span class="social">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </span>
            </p>
            <img class="social" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/t/2/assets/app-store-3x.png?v=14565633158920663017"/>
            <img class="social" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/t/2/assets/google-play-3x.png?v=2259890004463361456"/>
        </div>
    </div>
    

    <p id="lastline">KOOVS.COM © 2022 | All Rights reserved.</p>
    
</body>

</html>