<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>In Style Of - Koovs</title>
        <link rel="shortcut icon" type="image/png"
            href="//cdn.shopify.com/s/files/1/0584/9399/3141/files/favicon-32x32_32x.png?v=1627207424">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins:wght@100;400&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins:wght@600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/styles/shoppingPage.css"/>
        <link rel="stylesheet" href="/styles/inStyleOf.css"/>
    </head>
    
    <body>
        <div class="wrapper">
            <div class="header">
                <div></div>
                <div>
                    <div>
                        <a href="/layouts/index.html">
                            <img class="logo"
                            src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/logo_240x.png?v=1627043663" alt="">
                        </a>
                    </div>
                    <div id="goto">
                        <a href="/layouts/mens.html">MEN</a>
                        <a href="#">WOMEN</a>
                        <a href="#">THE BLOG</a>
                        <a href="#">KOOVSXYOU</a>
                        <a href="/layouts/inStyleOf.html"><b>IN STYLE OF</b></a>
                    </div>
                </div>
                <div class="icons">
                    <img class="icon" src="https://img.icons8.com/ios/50/000000/search--v1.png" />
                    <a href="/layouts/accountSignin.html"><img class="icon" src="https://img.icons8.com/ios/50/000000/user-male-circle.png" /></a>
                    <div>
                        <img class="icon" src="https://img.icons8.com/ios/50/000000/like--v1.png" />
                        <p class="bag">wishlist</p>
                        <div class="bagC countPlace1">0</div>
                    </div>
                    <div>
                        <a href="/bag.html">
                            <img class="icon" src="https://img.icons8.com/ios/50/000000/shopping-bag--v1.png" />
                            <p class="bag">BAG</p>
                            <div class="bagC countPlace2">0</div>
                        </a>
                    </div>
                </div>
            </div>
        
            <h2 class="rotate">&#11088 Reviews</h2>

            <div id="container">
                <div id="top"> <br>
                    <img src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/oneby-896DjD.jpg?v=1631785304"/>
                </div>

                <div id="second">
                   <div>
                        <img src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-web-6-AF1asw.jpg?v=1631785771"/>
                        <hr class="part"/>
                        <hr class="vertical">
                   </div>
                   <div>
                        <img src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-web-3-CHGfhV.jpg?v=1631785833"/>
                        <hr class="part"/>
                   </div>
                   <div>
                        <img src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-web-4-vzqkDT.jpg?v=1631786188"/>
                        <hr class="part"/>
                   </div>
                   <div>
                        <img src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-web_1-c4AF4s.jpg?v=1631786151"/>
                        <hr class="part"/>
                   </div>
                   <div>
                        <img src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-web-2-O3cyvS.jpg?v=1631786315"/>
                        <hr class="part"/>
                   </div>
                   <div>
                        <img src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-web-5-WaxnZm.jpg?v=1631786289"/>
                        <hr class="part"/>
                   </div>
            </div>
            <div id="third">
                <div>
                    <img src="	https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-banner-app-tf5qbQ.jpg?v=1631786492"/>
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/home-OBZ-3bEcu9.jpg?v=1631786522" />
                </div>
            </div>
            <br/>
            <hr id="abovefooter"/>
            <div id="footer">
                <div>
                    <p class="tophead">TOP CATEGORIES</p>
                    <ul type="none">
                        <li>Dresses for Girls</li>
                        <li>Maxi Dresses</li>
                        <li>Tops for Girls</li>
                        <li>Women Jumpsuits</li>
                        <li>Dungarees Dress</li>
                        <li>Innerwear for Men</li>
                        <li>Leggings</li>
                        <li>Ladies Bags</li>
                        <li>Women Shoes</li>
                        <li>Trousers & Chinos</li>
                        <li>Men Bags</li>
                    </ul>
                </div>
                <div>
                    <p class="tophead">CATEGORIES</p>
                    <ul type="none">
                        <li>Hoodies & Sweatshirts</li>
                        <li>Jog Pants</li>
                        <li>Vests</li>
                        <li>Polo Shirts</li>
                        <li>T Shirts</li>
                        <li>Shoes for Men</li>
                        <li>Ripped Jeans</li>
                        <li>Jeans for Girls</li>
                        <li>Denim shirts</li>
                        <li>Sling Bags</li>
                    </ul>
                </div>
                <div>
                    <p class="tophead">TOP BRANDS</p>
                    <ul type="none">
                        <li>Nike</li>
                        <li>New Look</li>
                        <li>Only</li>
                        <li>Vero Moda</li>
                        <li>Femella</li>
                        <li>Ax Paris</li>
                        <li>Cover Story</li>
                        <li>Catwalk88</li>
                        <li>Being Human</li>
                        <li>Levis</li>
                    </ul>
                </div>
                <div>
                    <p class="tophead">BRANDS</p>
                    <ul type="none">
                        <li>Adidas Neo</li>
                        <li>Jack & Jones</li>
                        <li>Spring Break</li>
                        <li>Flying Machine</li>
                        <li>Adidas Originals</li>
                        <li>Koovs</li>
                        <li>Adidas Shoes</li>
                        <li>Blue Saint</li>
                        <li>Koovs Coupons & Offers</li>
                    </ul>
                </div>
                <div>
                    <p class="tophead">NEED HELP</p>
                    <ul type="none">
                        <li>Contact Us</li>
                        <li>Return Policy</li>
                        <li>Shipping Information</li>
                        <li>FAQs</li>
                        <li>Terms and Conditions</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div>
                    <p class="topContact">CONTACT US</p>
                    ✉ <span>care@2retail.in</span>
                    <p>
                        <span class="social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-youtube"></i>
                        </span>
                    </p>
                    <img class="socialApp"
                        src="https://cdn.shopify.com/s/files/1/0584/9399/3141/t/2/assets/app-store-3x.png?v=14565633158920663017" />
                    <img class="socialApp"
                        src="https://cdn.shopify.com/s/files/1/0584/9399/3141/t/2/assets/google-play-3x.png?v=2259890004463361456" />
                </div>
            </div>
    
    
            <p id="lastline">KOOVS.COM © 2022 | All Rights reserved.</p>
    
        </div>
</body>
</html>

