<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koovs - Best Fashion Store In India</title>
    <link rel="shortcut icon" type="image/png" href="//cdn.shopify.com/s/files/1/0584/9399/3141/files/favicon-32x32_32x.png?v=1627207424">
    <link rel="stylesheet" href="/styles/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/styles/orderComplete.css">
    <link rel="stylesheet" href="path/to/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="http://www.pixeden.com/icon-fonts/stroke-7-icon-font-set">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script
      src="https://kit.fontawesome.com/24c494a6b6.js"
      crossorigin="anonymous"
    ></script>
</head>


<body>
    <div class="mainlogo">
        <div class="empty"></div>
        <img alt="titlelogo" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/files/logo_240x.png?v=1627043663"/>
        <div class="cartSection">
            <span><i class="pegk pe-7s-search"></i></span>
            <span><i class="pegk pe-7s-user"></i></span>
            <div class="wish bag">    
                <span><i class="pegk pe-7s-like pr"></i></span>
                <p>wishlist</p>
            </div>
            <div class="wish bag">
            <span><i class="pegk pe-7s-shopbag pr"></i></span>
            <p>BAG</p>
            </div>
        </div>
    </div>
    <div class="navbar">
        <a href="men.html">MEN</a>
        <a href="women.html">WOMEN</a>
        <a>THE BLOG</a>
        <a>KOOVSXYOU</a>
        <a>IN STYLE OF</a>
    </div>

    <div class="congratsBox">
        <h1>Congratulations</h1>
        <h2>Your Order has been Placed</h2>
        <a href="/layouts/index.html"><h2>Continue Shopping  <span><i class="fa-solid fa-bag-shopping"></i></span></h2></a>
    </div>

    <hr>

    <div id="footer">
        <div>
            <p class="tophead">TOP CATEGORIES</p>
            <ul type="none">
                <li>Dresses for Girls</li>
                <li>Maxi Dresses</li>
                <li>Tops for Girls</li>
                <li>Women Jumpsuits</li>
                <li>Dungarees Dress</li>
                <li>Innerwear for Men</li>
                <li>Leggings</li>
                <li>Ladies Bags</li>
                <li>Women Shoes</li>
                <li>Trousers & Chinos</li>
                <li>Men Bags</li>
            </ul>
        </div>
        <div>
            <p class="tophead">CATEGORIES</p>
            <ul type="none">
                <li>Hoodies & Sweatshirts</li>
                <li>Jog Pants</li>
                <li>Vests</li>
                <li>Polo Shirts</li>
                <li>T Shirts</li>
                <li>Shoes for Men</li>
                <li>Ripped Jeans</li>
                <li>Jeans for Girls</li>
                <li>Denim shirts</li>
                <li>Sling Bags</li>
            </ul>
        </div>
        <div>
            <p class="tophead">TOP BRANDS</p>
            <ul type="none">
                <li>Nike</li>
                <li>New Look</li>
                <li>Only</li>
                <li>Vero Moda</li>
                <li>Femella</li>
                <li>Ax Paris</li>
                <li>Cover Story</li>
                <li>Catwalk88</li>
                <li>Being Human</li>
                <li>Levis</li>
            </ul>
        </div>
        <div>
            <p class="tophead">BRANDS</p>
            <ul type="none">
                <li>Adidas Neo</li>
                <li>Jack & Jones</li>
                <li>Spring Break</li>
                <li>Flying Machine</li>
                <li>Adidas Originals</li>
                <li>Koovs</li>
                <li>Adidas Shoes</li>
                <li>Blue Saint</li>
                <li>Koovs Coupons & Offers</li>
            </ul>
        </div>
        <div>
            <p class="tophead">NEED HELP</p>
            <ul type="none">
                <li>Contact Us</li>
                <li>Return Policy</li>
                <li>Shipping Information</li>
                <li>FAQs</li>
                <li>Terms and Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div>
            <p class="tophead">CONTACT US</p>
            <i class="pegk pe-7s-mail"></i><span>care@2retail.in</span>
            <p>
                <span class="social">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </span>
            </p>
            <img class="social" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/t/2/assets/app-store-3x.png?v=14565633158920663017"/>
            <img class="social" src="https://cdn.shopify.com/s/files/1/0584/9399/3141/t/2/assets/google-play-3x.png?v=2259890004463361456"/>
        </div>
    </div>
    

    <p id="lastline">KOOVS.COM © 2022 | All Rights reserved.</p>
</body>
</html>
