#head{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,100px);
width: 95%;
height: 150px;
margin: auto;
/* border: 2px solid black; */
}
h1{
    text-align: center;
    font-family: 'Poppins';
}
#head2{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -50px;
    width: 100%;
    height: 50px
    
}
#head2 > div{
    /* border: 2px solid yellow; */
    width: 80px;
}
#page{
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

#flat{
    background-color: #f6f6f8;
    width:auto;
    height: 50px;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 20px;
    

}
#flat > h2{
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

/* <---form----> */

#input{
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
display: flex;
justify-content:space-between;
/* border: 2px solid black; */
padding: 0px 10px 0px 10px;
}

#input > p{
    font-weight: bold;
}
select {
display: block;
/* margin-left: auto; */
margin: 15px 0px;
font-size: 15px;
padding: 5%;
}
option {
font-size: 20px;
}

/* <-----------koovs-------------> */


#koovs{
    width: 85%;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: auto;
column-gap: 40px;
row-gap: 80px;
margin: auto;
margin-top: 40px;
}
img{

width: 400px;
height: 500px;
}
h4{
    color: red;
    line-height: 10px;
}
#koovs p{
    line-height: 5px;
    color: #a3a2a2;
}