#head{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,100px);
   width: 95%;
   height: 150px;
   margin: auto;
   /* border: 2px solid black; */
 }
  h1{
     text-align: center;
     font-family: 'Poppins';
 }
 #head2{
     display: flex;
     justify-content: flex-end;
     position: relative;
     top: -50px;
     width: 100%;
     height: 50px
     
 }
 #head2 > div{
     /* border: 2px solid yellow; */
     width: 80px;
 }
 #page{
     width: 40%;
     height: auto;
     margin: auto;
     margin-top: 5px;
     display: flex;
     justify-content: space-around;
     padding: 10px;
 }

a{
    text-decoration: none;
    color: black;
}

#flat{
    background-color: #f6f6f8;
    width:auto;
    height: 50px;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 20px;
    
  
}
#flat > h2{
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

#dress{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 120px;
    width: 80%;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 80px;
    box-sizing: border-box;
} 
#dress > div{
    /* border: 2px solid blue; */
    padding: 2px;
}

#dress > div > img{
    width: 100%;
    height: 440px;
    object-fit: fill;
}
#dress > div > p{
    line-height: 2px;
    color: rgb(148, 148, 148);
}
#dress > div > h3{
    color: red;
}

/* <---form----> */

#input{
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
 display: flex;
 justify-content:space-between;
 /* border: 2px solid black; */
 padding: 0px 10px 0px 10px;
}

#input > p{
    font-weight: bold;
}
select {
display: block;
/* margin-left: auto; */
margin: 15px 0px;
font-size: 15px;
padding: 5%;
}
option {
font-size: 20px;
}

/* <-------media-------> */

@media all and (min-width: 80px) and (max-width: 720px) {


    #dress {
        width: 95%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        gap: 10px;
        justify-content: space-evenly;
        /* border: 1px solid red; */
        box-sizing: border-box;
        padding: 5px;
    }
    #dress > img {
        width: 95%;
    }

}